<% include header.ejs %>
<body>
	<div class="center">
    	<h1> <%= title %> </h1>
	<p id="chat" class="chat_content">
	</p>
	<form action="javascript:void(0);" onsubmit="javascript:send();" id="chatform">
			<input type="text" id="userInput"size="30" /><br />
			<input type="submit" value="Send" />
		</form>
		<span id="resul"></span>
	</div>
    <div id="light" class="white_content">
		<div class="center">
    Welcome to Chattie
    <form action="javascript:void(0);" onsubmit="javascript:login();">
			Username: <input type="label" id="nameInput" /><br />
			<input id="loginButton" type="submit" value="Login" />
		</form>
	<p><font color="red" id="warning_text"></font></p>
	</div>
	</div>

    <div id="fade" class="black_overlay"></div>
</body>
<% include footer.html %>
</html>
